@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Ortland";
  src: url("../assets/ortland.otf") format("truetype");
}
:root {
  --base: #C1C1C1;
  --dark-blue: #2C4251;
  --dark-blue-low-opacity: #2c4251b0;
  --accent: #D16666;
  --urbanist: 'Urbanist', sans-serif;
  --ortland: "Ortland", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--urbanist);
  background-color: var(--base);
}
.cursor {
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 2px solid var(--dark-blue);
  z-index: 3;
  position: fixed;
  pointer-events: none; 
  transition: background-color 0.3s ease;
}

*::selection {
  background-color: var(--accent);
  color: white;
}
/* Header */
main {
  margin: 10px;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--dark-blue);
  background-image: url('../assets/images/lorem-portrait.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
  border-radius: 20px;
  padding: 20px;
}
.greetings {
  font-family: var(--urbanist);
  font-size: 3rem;
  text-align: end;
  color: var(--base);
}
.distorted-letter {
  display: inline-block;
}
.fullname {
  font-family: var(--ortland);
  font-size: 14rem;
  cursor: default;
  color: var(--dark-blue);
}

/* Navbar */

nav {
  border-radius: 20px;
  width: fit-content;
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 8;
  transform: translateX(-50%);
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 120px 0 var(--dark-blue-low-opacity);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px 20px;
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
nav ul li {
  cursor: pointer;
  z-index: 4;
  padding: 10px 20px;
  border-radius: 10px;
}
nav ul li:hover {
  animation: trill .5s ease-in-out infinite alternate;
}
@keyframes trill {
  0% { transform: rotate(2deg) translateX(2px); }
  25% { transform: rotate(-3deg) translateX(-3px); }
  50% { transform: rotate(3deg) translateX(3px); }
  75% { transform: rotate(-2deg) translateX(-2px); }
  100% { transform: rotate(0deg) translateX(0px); }
}
/* Section commons */
.section-title {
  font-family: var(--ortland);
  color: var(--dark-blue);
  font-size: 8rem;
  margin-top: 100px;
  margin-left: 10px;
}
/* projects */

.projects {
  height: 100vh;
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
}
.projects .project-card {
  border-bottom: 2px solid var(--base);
  padding: 20px;
  position: relative;
}
.projects .project-card:last-of-type {
  border-bottom: none;
}

.projects h3 a{
  color: var(--base);
  font-family: var(--ortland);
  font-weight: normal;
  font-size: 6rem;
  text-decoration: none;
  transition: color .5s;
}
.projects h3:hover a{
  color: var(--accent);
}
.scale-link, .move-link {
  display: inline-block; 
}
.project-image {
  position: absolute;
  top: -25%;
  right: 100px;
  max-width: 400px;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}
/* Stack */
.stack-section {
  background-color: var(--dark-blue);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
}
.stack {
  overflow: hidden;
  padding: 20px 60px;
  white-space: nowrap;
  position: relative;
  width: 60%;
  margin: auto;
}
.stack:nth-of-type(2) {
  width: 50%;
}
.stack-container {
 animation: slide 20s infinite linear;
 display: inline-block;
}
.stack:nth-of-type(2) .stack-container {
  animation: slideInvert 20s infinite linear;
  display: inline-block;
}
.stack-container svg, .gsap-icon path{
  width: 6rem;
  margin-right: 100px;
}
.stack-container svg:hover, .gsap-icon:hover path{
  fill: var(--accent);
}
.stack:hover .stack-container {
  animation-play-state: paused;
}

.stack::before,
.stack::after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  z-index: 999;
}
.stack::before {
  left: 0;
  background: linear-gradient( to left, transparent, var(--dark-blue));
}
.stack::after {
  right: 0;
  background: linear-gradient( to right, transparent, var(--dark-blue));
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideInvert {
  from {
    transform: translateX(-100%)
  }  
  to {
    transform: translateX(0);
  }
}
/* About */

.section-title.about-title {
  text-align: right;
  margin-right: 10px;
}
.about-wrapper {
  background-color: var(--dark-blue);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
  height: 65vh;
}
.about-elem {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.about-elem img,
.about-elem video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: scale .3s;
}
.about-elem:hover img,
.about-elem:hover video {
  scale: 1.1;
}
.about-elem:nth-of-type(2) video{
  object-position: center 12%;
}
.about-elem:nth-of-type(6) img {
  object-position: center 30%;
}
.about-elem:nth-of-type(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / -1;
}
.about-elem:nth-of-type(2) {
  grid-column: 4 / 6;
  grid-row: 1 / span 6;
}
.about-elem:nth-of-type(3) {
  grid-column: 7 / span 3;
  grid-row: 7 / -1;
}
.about-elem:nth-of-type(4) {
  grid-column: 6 / span 2;
  grid-row: 5 / span 2;
  display: flex;
  align-items: center;
  font-family: var(--ortland);
  font-size: 2rem;
  color: var(--base);
  letter-spacing: 2px;
}
.about-elem:nth-of-type(5) {
  grid-column: auto / span 2;
  grid-row: auto / span 4;

}
.about-elem:nth-of-type(6) {
  grid-column: 4 / 7;
  grid-row: 7 / -1;
}
.about-elem:nth-of-type(7) {
  grid-column: auto / span 2;
  grid-row: auto / span 6;
}
.about-elem:nth-of-type(8) {
  grid-column: auto / span 3;
  grid-row: 1 / -1;
}

.about-elem .overlay-infos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: var(--base);
  font-size: 1.2rem;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.about-elem .overlay-infos span {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.about-elem:hover .overlay-infos {
  opacity: 1;
  visibility: visible;
}

.about-elem:hover .overlay-infos span {
  transform: translateY(0);
  opacity: 1;
}

.overlay-infos span{
  text-align: justify;
  font-family: var(--urbanist);
  line-height: 1.4;
  font-size: 1.2rem;
}

/* Quote section */

.quote {
  font-family: var(--ortland);
  color: var(--dark-blue);
  font-size: 5rem;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-container {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}
.contact-btn {
  background-color: var(--dark-blue);
  padding: 20px 50px;
  border: none;
  color: var(--base);
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, width 0.3s, height 0.3s, border-radius 0.3s;
  display: inline-block; 
}
.contact-btn:hover {
  background-color: var(--accent);
  width: 20rem;
  height: 20rem; 
  border-radius: 50%; 
  padding: 0; 
  position: absolute; 
}
.contact-btn a {
  text-decoration: none;
  color: inherit;
  font-size: 3rem;
}
/* footer */
footer {
  height: 30vh;
  background-color: var(--dark-blue);
  margin: 0 10px;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  color: var(--base);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer-quote {
  font-size: 2.2rem;
  font-family: var(--ortland);
}
@media screen and (max-width: 1800px) {
  .fullname {
    font-size: 12rem;
  }
}
@media screen and (max-width: 1540px) {
  .fullname {
    font-size: 10rem;
  }
  .about-elem .overlay-infos span{
    font-size: .95rem;
  }
}
@media screen and (max-width: 1300px) {
  .fullname {
    font-size: 8rem;
  }
}