@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "Ortland";
  src: url("../assets/ortland.otf") format("truetype");
}
@font-face {
  font-family: "Manolo Mono";
  src: url("../assets/manolo-mono.ttf") format("truetype");
}
@font-face {
  font-family: "Wosker";
  src: url("../assets/wosker.otf") format("truetype");
}
:root {
  --orange: #FB5A38;
  --dark-grey: #393E40;
  --light-grey: #B2B0AF;
  --white: #fbebe8;
  --urbanist: 'Urbanist', sans-serif;
  --ortland: "Ortland", sans-serif;
  --manolo-mono: "Manolo Mono", sans-serif;
  --wosker: "Wosker", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--urbanist);
  background-color: var(--orange);
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--orange);
  border: 2px solid var(--dark-grey);
  z-index: 3;
}
*::selection {
  background-color: var(--orange); /* Arancione intenso */
  color: white;
}
/* Header */
main {
  margin: 20px;
}
.greetings {
  font-family: var(--urbanist);
  font-size: 3rem;
  text-align: end;
  color: var(--white);
  ;
}
.fullname {
  display: inline-block;
}
.distorted-letter {
  display: inline-block;

}
.fullname {
  font-family: var(--wosker);
  font-size: 15rem;
  cursor: default;
}

.fullname .name{
  color: transparent;
  -webkit-text-stroke: 2.5px var(--orange); 
}
.fullname .surname{
  color: var(--orange);
}
.hero-image {
  max-width: 40%;
  max-height: 80vh;
  border-radius: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: 20px;
}

/* Navbar */

nav {
  background-color: var(--dark-grey);
  margin: 0 20px;
  border-radius: 0 0 20px 20px;
  
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}
nav ul li {
  cursor: pointer;
  z-index: 4;
  padding: 20px;
}

/* projects */

.projects {
  margin-top: 20px;
  height: 40vh;
  border-radius: 20px;
  background-color: var(--dark-grey);
}

.projects {
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
}
.projects .project-card {
  border-bottom: 2px solid var(--orange);
  padding: 20px;
  z-index: 5;
}
.projects .project-card:last-of-type {
  border-bottom: none;
}

.projects h3 a{
  color: var(--orange);
  font-family: var(--wosker);
  font-weight: normal;
  font-size: 6rem;
  text-decoration: none;
}
.animate-link {
  display: inline-block; 
}
@media screen and (min-width: 740px) {
  .fullname {
    font-size: 8rem;
  }
}